* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: #0C2B4E;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    form {
        background-color: #2a486e;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        width: 100%;
        max-width: 300px;
        padding: 1rem;
        font-size: 1.2rem;

        border-radius: .5rem;
        color: white;

        .grp {
            display: flex;
            flex-direction: column;
            gap: .3rem;

            input {
                font-size: inherit;
                padding: .5rem;
            }

            small {
                display: none;
                transition: all 1s ease;
            }

            #error, #lenError, #numError, #capError, #lowError, #spError {
               color: red;
            }

            #correct, #passCorrect {
                color: rgb(2, 237, 2);
            }
        }

        button {
            font-size: inherit;
            padding: .5rem;
            width: fit-content;
            margin-inline: auto;
            border-radius: .5rem;
        }
    }
}